* {
    font-family: Helvetica, Arial, "Times New Roman";
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}
.header-logo-p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
.header-a {
    font-size: 18px;
    color: #E5E7EB;
}
.header-logo-content {
    display: flex;
    align-items: center;
}
.header-links {
    display: flex;
    gap: 15px;
    align-items: center;
}
/* .body-container {
    background-color: #1F2937;
} */
.hero-box {
    display: flex;
    justify-content: center;
    padding: 8% 15%;
    width: 70%;
    max-width: 70%;
    gap: 5%;
    background-color: #1F2937;
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #F9FAF8;
}
.hero-sub-text {
    font-size: 18px;
    margin: 0;
    color: #E5E7EB;
}
.hero-content button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    width: 30%;
    padding: 5px;
    border: none;
    margin-top: 10px;
    font-weight: 600;
    font-size: 17px;
}
.hero-image {
    background-color: grey;
    opacity: 0.5;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Temporary */
.hero-image p {
    color: #fff;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-box .info-box-title h4 {
    font-size: 36px;
    font-weight: 900;
}
.info-ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 10rem;
}
.info-li {
    display: flex;
    max-width: 9rem;
    flex-direction: column;
    align-items: center;
}
img.info-box-images {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}
.info-li p {
    text-align: center;
}
.quote-box {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 5rem 0;
}
.quote {
    max-width: 50rem;
}
blockquote {
    font-size: 36px;
    font-weight: 100;
    margin: 0;
}
.quote p {
    text-align: right;
    margin: 0;
    font-weight: 900;
    font-size: 21px;
}