* {
    font-family: Helvetica, Arial, "Times New Roman";
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}
.header-logo-p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
.header-a {
    font-size: 18px;
    color: #E5E7EB;
}
.header-logo-content {
    display: flex;
    align-items: center;
    padding: 10px;
}
.header-logo-content img {
    height: 25px;
    width: 25px;
    border-radius: 20px;
}
.header-links {
    display: flex;
    gap: 15px;
    align-items: center;
}
/* .body-container {
    background-color: #1F2937;
} */
.hero-box {
    display: flex;
    justify-content: center;
    padding: 8% 15%;
    width: 70%;
    max-width: 70%;
    gap: 10%;
    background-color: #1F2937;
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #F9FAF8;
}
.hero-sub-text {
    font-size: 18px;
    margin: 0;
    color: #E5E7EB;
}
.hero-content button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    width: 30%;
    padding: 5px;
    border: none;
    margin-top: 10px;
    font-weight: 600;
    font-size: 17px;
}
.hero-image {
    /* background-color: grey; */
    opacity: 0.5;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Temporary */
.hero-image p {
    color: #fff;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-box .info-box-title h4 {
    font-size: 36px;
    font-weight: 900;
}
.info-ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 10rem;
}
.info-li {
    display: flex;
    max-width: 9rem;
    flex-direction: column;
    align-items: center;
}
.info-li a {
    text-align: center;
}
img.info-box-images {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}
.info-li p {
    text-align: center;
}
.quote-box {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 5rem 0;
}
.quote {
    max-width: 50rem;
}
blockquote {
    font-size: 36px;
    font-weight: 100;
    margin: 0;
}
blockquote i {
    font-family: 'Raleway', sans-serif;
}
.quote p {
    text-align: right;
    margin: 0;
    font-weight: 900;
    font-size: 21px;
}
.call-to-action {
    display: flex;
    justify-content: center;
    padding: 4rem;
}
.call-modal {
    display: flex;
    /* flex-direction: column; */
    background-color: #3882F6;
    padding: 2rem 11rem;
    border-radius: 10px;
    gap: 10rem;
}
.call-texts {
    flex: 1 0 auto;
}
.call-heading {
    display: flex;
    align-items: flex-end;
    gap: 10rem;
}
.call-heading p {
    color: #F9FAF8;
    margin: 0;
    flex: 1 0 auto;
    font-weight: 600;
    font-size: 20px;
}
 .call-modal button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    width: 30%;
    padding: 5px;
    border: 2px solid #F9FAF8;
    /* margin-top: 10px; */
    font-weight: 600;
    font-size: 17px;
    flex: 1 0 auto;
 }
 .call-content {
    display: flex;
    /* gap: 10rem; */
    /* align-items: flex-end; */
 }
 .call-content p {
    color: #F9FAF8;
    padding: 0;
    font-size: 14px;
    margin: 0;
    flex: 1 0 auto;
    width: 59%;
 }
 .footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 1rem;
 }
 .footer p {
    color: #F9FAF8;
 }
 /* Overlay Animation */
 .text {
    white-space: nowrap; 
    color: rgb(37, 35, 35);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .hero-img-overlay {
    position: absolute;
    top: 32.9%;
    left: 49.3%;
    right: 0;
    background-color: #b2babd;
    overflow: hidden;
    width: 36.4%;
    height: 0;
    transition: .5s ease;
    opacity: 0.9;
  }
  .hero-image:hover .hero-img-overlay {
    /* bottom: 0; */
    height: 72%;
  }